<header>
  <h1><s id="noCig"><%= link_to "Cig", root_url %></s></h1>
  <h2>Hi there,</h2>
  <p>
    [2013 Nov 5th]<br>
    I was having lunch in a small restaurant.
    There's a big open window.
    While I was eating, some guy lit a cigarette and started smoking
    beside that big open window.
    The whole room, suddenly, was filled up by the smell.
    If you hate cigarettes as well, you know the rage.
  </p>
  <p>
    Share your feelings, tell people why they should not smoke, at least, not around others.
    <a id="jump" href="#theForm">Jump to Share</a>
  </p>
</header>

<section id="says">
<%= paginate @hates %>
<% if @notice %>
  <div id="notice"><%= @notice %></div>
<% end %>
<% @hates.each do |hate| %>
  <article class="message">
    <header>
      <span class="name">
      <% if hate.name != '' %>
        <strong><%= hate.name %></strong> said:
      <% else %>
        Someone said:
      <% end %>
      </span>
    </header>
    <p>
      <%= hate.content %>
    </p>
  </article>
<% end %>
<%= paginate @hates %>
</section>

<%= form_for(@hate) do |f| %>
  <a id="theForm"><input type="hidden"></a>
  <div class="field">
    <%= f.label :name %><br>
    <span class="small">Leave name blank if you like</span><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, style: "width: 400px; height: 120px;" %>
  </div>
  <div class="actions">
    <%= f.submit value="Submit Feelings" %>
  </div>
<% end %>
